*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
}

/* Styling for top header */

.top{
    background:url('Domino_pizza_logo-696x700.webp')no-repeat;
    /* background-repeat: no-repeat; */
    background-size: 63px;
    display: flex;
    background-color: rgb(7, 7, 7);
    min-height: 65px;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    color: rgb(203, 226, 246);
    /* font-family: ; */
    text-decoration: none;
}

.link{
    color: white;
    text-decoration: none;
    
}

.link:hover{
    text-decoration: underline;
} 

.appbtn{
    font-weight: bold;
    background-color: red;
    color: aliceblue;
    /* border-color: maroon; */
    border-radius: 5px;
    padding-top: 12px;
    width: 150px;
    height: 50px;
    text-decoration: none;
}

/* Styling for oniline order section */

.container{
    
    background: url('Resources/Domino\'s\ Banner_sticky.png')no-repeat;
    background-position: right;
    background-size: 800px;
    height: 235px;
    width: 100%;
    background-color: cornflowerblue;
}

.orderonline{
    align-items: center;
    border-color: rgb(237, 8, 8);
    border-width: 5cm;
    color: white;
    background-color: transparent;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.ordrbtn{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: green;
    height: 50px;
    width: 150px;
    margin-top: 37px;
    margin-left: 170px;
}

#menuhead{
    background-color: red;
    /* box-sizing: border-box; */
    /* border-color: aqua; */
    text-align: center;
    color: white;
    
}

#cheeseburst{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    
}

.menu div{
    /* display: flex; */
    background-color:black;
    color: white;
    /* max-height: 5cm; */
}

.cheeseburst{
    /* size: 10cm; */
    height: 280px;
    width: 280px;
    padding-left: 50px;
}

.menu div h3{
    padding-left: 100px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 2px;
    border-color: white;
    border: 10px;
}

.card img{
    width: 75%;
    height: 40%;
}

.card-content{
    padding: 16px;
}

.card-content h4{
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content p{
    color: beige;
    font-size: 15px;
    line-height :1.3;
    margin-bottom: 15px;
}

.card-content .btn{
    
    background-color: red;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    margin-top: 15px;
}